/* CSS Document */
.space {
	background-image:url(pictures/nightsky.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-color:black;
	
}
.welcome {
	color:white;
	border-color:white;
	border-style:solid;
	border-width:2px;
	width:96vw;
	padding:5px;
	font-family: soleil, sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	color:white;
	font-family: highgate, sans-serif;
	font-weight: 300;
	font-style: normal;
	width:90vw;
}

h1 {
	color:white;
	font-family: highgate, sans-serif;
	font-weight: 300;
	font-style: normal;
	width:90vw;
}

h2 {
	color:white;
	font-family: highgate, sans-serif;
	font-weight: 300;
	font-style: normal;
	width:90vw;
}

h2:hover {
	text-shadow:2px 1px 2px white;
}

h3 {
	color:white;
	font-family: highgate, sans-serif;
	font-weight: 300;
	font-style: normal;
	width:90vw;
}

a {
	color:white;
	display:block;
}

img {
	border-color:black;
	border-width:2px;
	position:center center;
	padding:1px;
}

.pics {
	float:center;
	
	
}

.container {
	position:relative;
	overflow:hidden;
}


.dropdownbox {
	position:center;
	padding:30px;
	display:inline-block;
	border-width:20px;
	border-style:solid;
	border-image:url(pictures/galaxy.jpg) 35 round;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	background-color:rgba(0,0,0,0.2);
	text-align:center;
	min-width:auto;
	margin-bottom:10px;
	background-color:rgba(0,0,0,0.23);
}


















