/* CSS Document */
.space {
	background-image:url(pictures/nightsky.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-color:black;
	
}
.welcome {
	color:white;
	border-color:white;
	border-style:solid;
	border-width:2px;
	width:96vw;
	padding:5px;
	font-family: soleil, sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	color:white;
}

h1 {
	color:white;
	font-family: highgate, sans-serif;
	font-weight: 300;
	font-style: normal;
	width:90vw;
}

h2 {
	color:white;
	font-family: highgate, sans-serif;
	font-weight: 300;
	font-style: normal;
	width:90vw;
}

h3 {
	color:white;
	font-family: highgate, sans-serif;
	font-weight: 300;
	font-style: normal;
	width:90vw;
}

a {
	color:white;
	display:block;
}

img {
	border-color:black;
	border-width:2px;
	position:center center;
	align-content: flex-end;
	padding:1px;
}

.pics {
	margin-right:5px;
	margin-left:5px;
	margin-top:5px;
	float:center;
	
	
}

.container {
	position:relative;
	overflow:hidden;
}

.dropdowngroup {
	position:relative;
	display:inline-block;
	
}

.dropdownhover {
	color:white;
	position:relative;
	display:inline-block;
	background-color:#1c1c1c;
	border-width:thin;
	border-style:solid;
	border-radius:2px;
	width:69vw;
	padding:7px;
	font-family: highgate, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.dropdownbox {
	position:absolute;
	padding:7px;
	display:none;
	border-width:thin;
	border-style:solid;
	border-radius:2px;
	border-color:white;
	z-index:1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width:69vw;
}

.dropdownhover:hover ~
.dropdownbox {
	display:block;
	
}

.dropdowngroup:hover ~
.dropdownbox {
	display:block;
}


















